* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: #272727;
}

#main-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  margin-top: 34px;
}

#options-bar {
  position: fixed;
  border: 2px solid #9b9494;
  background: #303030;
  height: 30px;
  width: 100%;
  z-index: 3;
  top: 0;
}

#search {
  width: 300px;
  height: 26px;
  font-size: 20px;
}

#game-wrapper {
  width: 70%;
  min-width: 306.14px;
}

#description-wrapper {
  width: 30%;
  height: 100vh;
  background: #181818;
  border: 3px solid #5e2121;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper h3,
.wrapper h4 {
  color: #ffffff;
  background: #FF465C;
  width: auto;
  height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}

.wrapper h4 {
  height: 20px;
  text-transform: capitalize;
  line-height: 20px;
}

.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gungeoneer {
  width: 102px;
  height: 102px;
}

.description-box {
  display: none;
  position: fixed;
  background: #202020;
  width: 30%;
  height: 100vh;
  right: 0;
  top: 36px;
}

.gunStats {
  color: #E0E0E0;
  border-collapse: collapse;
  width: 100%;
}

.gunStats tr:nth-child(even) {
  background: #292929;
}

.gunStats tr td {
  border: 1px solid #9b9b9b;
}

.description-icon-wrapper {
  display: flex;
  flex-direction: row;
  color: #ffdb0c;
  align-items: center;
}

.description-icon,
.pixelart {
  image-rendering: pixelated;
  margin: 10px;
}

.hasDesc:hover .description-box {
  display: block;
}