* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: #272727;
}

#main-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
}

#game-wrapper {
  width: 70%;
}

#description-wrapper {
  width: 30%;
  height: 100vh;
  background: #181818;
  border: 3px solid #5e2121;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gungeoneer {
  width: 102px;
  height: 102px;
}

.description-box {
  display: none;
  position: fixed;
  width: 30%;
  height: 100vh;
  right: 0;
  top: 0;
}

.description-icon-wrapper {
  display: flex;
  flex-direction: row;
  color: #ffdb0c;
  align-items: center;
}

.description-icon {
  image-rendering: pixelated;
  margin: 10px;
}

.valid:hover .description-box {
  display: block;
}